:root {
    --dark: #000;
    --light: #fff;
    --primary: #9DCC92;
    --accent: #248614;
    --secondary: #C5C5C5;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    /*background: var(--secondary);*/
}

h1, h2, h3, h4,h5,h6, p {
    padding: 0;
    margin: 0;
}

/* Buttons */

button {
    cursor: pointer;
    background: transparent;
}

.btn {
    padding: 14px 20px;
    display: flex;
    border-radius: 30px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 0 4px #999;
    border: none;
}

.btn span {
    margin: auto;
}

.btn-primary {
    background: var(--primary);
    border: 2px solid var(--primary);
    color: var(--light);
}

.btn-primary-outlined {
    background: transparent;
    border: 2px solid var(--primary);
    color: var(--primary)
}

.btn-dark {
    background: var(--dark);
    border: 2px solid var(--dark);
    color: var(--light);
}
.btn-dark-outlined {
    background: transparent;
    border: 2px solid var(--dark);
    color: var(--dark);
}

.btn-accent {
    background: var(--accent);
    border: 2px solid var(--accent)
}
.btn-accent-outlined {
    background: transparent;
    border: 2px solid var(--accent);
    color: var(--accent);
}

/* Input */

.custom-input {
    display: flex;
    gap: 20px;
    max-height: 50px;
    padding: 14px 32px;
    justify-content: space-between;
    background: var(--light);
    border-radius: 30px;
}


.custom-input input {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
}

.custom-input input::placeholder {
    color: var(--dark);
}

.custom-input input:valid ~ span {
    visibility: visible;
}

.custom-input span{
    color: var(--accent);
    margin: auto;
    visibility: hidden;
}

/* Navigation */

/* Hero */
/* Services */

.services-card:nth-child(1) {
    background-size: cover;
    background: url(./../assets/as-2.png) no-repeat center center;
}
.services-card:nth-child(2) {
    background-size: cover;
    background: url(./../assets/as-3.png) no-repeat center center;
}
.services-card:nth-child(3) {
    background-size: cover;
    background: url(./../assets/as-4.png) no-repeat center center;
}
.services-card:nth-child(4) {
    background-size: cover;
    background: url(./../assets/as-5.png) no-repeat center center;
}

.services-card img:nth-child(1) {
    height: 80px;
}

.services-card img:nth-child(2) {
    height: 50px;
    transform: rotate(-86deg);
}

/* Newsletter */
